<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./vendor/autoload.php">

    <testsuites>
        <testsuite name="check1">
        	<file>Tests/SlangWordTest.php</file>
        	<file>Tests/CrudWordTest.php</file>
        	<file>Tests/GroupRankTest.php</file>
        </testsuite>
    </testsuites>

</phpunit>